.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  padding-bottom: 3em;
}

body {
  background-color: #222;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  display: block;
  margin-bottom: 16px;
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

a {
  color: #00d6b4;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.hero {
  height: 100%;
  min-height: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgba(255, 255, 255, .23)), color-stop(82%, #fff)), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .82)), to(hsla(0, 0%, 100%, .82))), url('../images/chuttersnap-348302-unsplash.jpg');
  background-image: linear-gradient(0deg, rgba(255, 255, 255, .23) 49%, #fff 82%), linear-gradient(180deg, hsla(0, 0%, 100%, .82), hsla(0, 0%, 100%, .82)), url('../images/chuttersnap-348302-unsplash.jpg');
  background-position: 0px 0px, 0px 0px, 0% 60%;
  background-size: auto, auto, 3008px;
  background-repeat: repeat, repeat, no-repeat;
  background-attachment: scroll, scroll, scroll;
  opacity: 1;
}

.hero.small {
  min-height: 410px;
}

.hero.sub-page {
  height: 62vh;
}

.hero.about-page {
  min-height: 340px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .57)), to(#222)), url('../images/photo-1441716844725-09cedc13a4e7.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), #222), url('../images/photo-1441716844725-09cedc13a4e7.jpg');
  background-size: auto, cover;
}

.hero.contact-page {
  min-height: 450px;
}

.hero.project-page {
  min-height: 384px;
}

.hero-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  color: #fff;
  text-align: center;
}

.hero-content.small {
  left: 0px;
  top: auto;
  right: 0px;
  bottom: 0%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.nav_hero {
  width: 96%;
  min-width: 96%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 2.5px solid #000;
  border-radius: 0px;
  background-color: transparent;
  font-family: Foundersgrotesk, sans-serif;
}

.nav_link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #999;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav_link:hover {
  color: #fff;
  text-decoration: none;
}

.nav_link.w--current {
  padding: 40px 10px 10px;
  font-family: Foundersgrotesk, sans-serif;
  color: #222;
  font-size: 1.4em;
  line-height: 17px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: none;
}

.nav_link.w--current:hover {
  color: #21d279;
  text-decoration: underline;
}

.nav_link.donate {
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
}

.nav_link.about {
  padding-left: 0px;
}

.logo {
  display: block;
  overflow: visible;
  width: 10%;
  height: 100%;
  min-width: 220px;
  margin-bottom: 21px;
  padding: 15px;
  background-image: url('../images/primary_lockup_RGB.png');
  background-position: 0px 0px;
  background-size: cover;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}

.logo:hover {
  color: #fff;
  text-decoration: none;
}

.subtitle {
  margin-bottom: 35px;
  color: hsla(0, 0%, 100%, .49);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.button {
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid #00d6b4;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  color: #00d6b4;
  font-size: 13px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.button:hover {
  border-color: #fff;
  color: #fff;
}

.button.submit {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 45px;
  padding-left: 45px;
}

.finder_section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fcfcfc;
}

.content-wrapper {
  display: block;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.tab-menu {
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
}

.tab-link {
  background-color: transparent;
  color: #999;
}

.tab-link:hover {
  color: #fff;
}

.tab-link.w--current {
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.photo {
  display: block;
  height: 300px;
  margin: 15px 5px;
  border-radius: 5px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  margin-top: 29px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.footer-link {
  color: #999;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.highlight_title {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Foundersgrotesk, sans-serif;
  color: #222;
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0px;
  text-transform: none;
}

.main-image {
  margin-bottom: 50px;
}

.form {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.left-column {
  padding-right: 40px;
  color: #fff;
}

.main_heading {
  margin-bottom: 0px;
  padding-top: 1.5px;
  padding-left: 0%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Foundersgrotesk, sans-serif;
  color: #222;
  font-size: 4.4em;
  line-height: 53px;
  font-weight: 500;
  text-align: left;
}

.main_heading.inline {
  display: inline;
}

.main_heading.inline.bolder {
  font-weight: 300;
}

.heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 140px;
  padding-right: 0%;
  padding-left: 0%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.nav_menu {
  padding-right: 0px;
}

.footer-logo {
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  text-transform: uppercase;
}

.profile-pic {
  display: block;
  width: 90px;
  margin-right: auto;
  margin-bottom: 31px;
  margin-left: auto;
  border-radius: 100%;
}

.about-me {
  display: block;
  width: 61%;
  margin: 41px auto;
}

.field {
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.input {
  min-height: 50px;
  margin-bottom: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: none;
  border-radius: 3px;
  background-color: #4b4b4b;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
}

.input:focus {
  box-shadow: inset 0 0 0 2px #00d6b4;
}

.input.text-area {
  min-height: 141px;
}

.secondary-title:hover {
  text-decoration: none;
}

.empty-state {
  padding: 33px 33px 49px;
  border: 1px solid hsla(0, 0%, 100%, .34);
  border-radius: 3px;
  background-color: transparent;
  text-align: center;
}

.no-items-title {
  font-weight: 300;
}

.project-image {
  margin-bottom: 22px;
  border-radius: 3px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.project-image:hover {
  opacity: 0.69;
}

.super-heading {
  font-family: Lato, sans-serif;
  color: hsla(0, 0%, 100%, .36);
  text-transform: uppercase;
}

.testimonial {
  margin-bottom: 44px;
  font-weight: 100;
  text-align: center;
}

.company {
  text-align: center;
}

.testimonial-wrapper {
  margin-bottom: 43px;
  text-align: center;
}

.project-body-copy {
  margin-right: 12%;
  margin-bottom: 67px;
  margin-left: 12%;
}

.success {
  border-radius: 3px;
  background-color: #00ad92;
}

.success-message {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.main-detail-image {
  max-width: 400px;
  margin-bottom: 41px;
  border-radius: 3px;
}

.category-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  letter-spacing: 1px;
  text-decoration: none;
}

.category-link:hover {
  opacity: 0.67;
  text-decoration: none;
}

.nav_container {
  display: block;
  width: 100%;
  height: auto;
  min-width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nae_research_logo {
  max-width: 200px;
}

.image-2 {
  width: 100%;
  height: 25%;
  max-height: 50px;
  max-width: 200px;
  min-height: 25px;
  min-width: 100px;
}

.intro_p {
  width: 60%;
  margin-bottom: 0px;
  margin-left: 12%;
  padding-top: 1%;
  padding-bottom: 2%;
  font-family: 'Lyontext web', sans-serif;
  color: #222;
  font-size: 1.5em;
  font-weight: 300;
}

.main_head_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: 12%;
  padding-top: 5%;
}

.text-block {
  position: absolute;
  left: 30%;
  top: 10%;
  right: 30%;
  bottom: 75%;
  display: block;
  padding-top: 2%;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.block-quote {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  padding-top: 9%;
  font-family: Merriweather, serif;
  color: #000;
  font-size: 3em;
  text-align: center;
}

.slider {
  padding-top: 5em;
  background-color: #fff;
}

.slide {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .78)), to(hsla(0, 0%, 100%, .78))), url('../images/markus-spiske-357131-unsplash.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .78), hsla(0, 0%, 100%, .78)), url('../images/markus-spiske-357131-unsplash.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.heading {
  position: absolute;
  left: 15%;
  top: 44%;
  right: 15%;
  bottom: 0%;
  font-family: Merriweather, serif;
  color: #000;
  font-size: 3em;
  text-align: center;
}

.slide-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .7)), to(hsla(0, 0%, 100%, .7))), url('../images/Real_Pixels.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .7), hsla(0, 0%, 100%, .7)), url('../images/Real_Pixels.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.filter_div {
  position: relative;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 16px 0.25fr 16px 0.25fr 16px 0.75fr 16px 1fr;
  grid-template-columns: 1fr 0.25fr 0.25fr 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  font-family: Montserrat, sans-serif;
}

.image-3 {
  width: 35%;
  height: 35%;
}

.div-block-3 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 50%;
  max-height: 400px;
  padding-top: 0em;
}

.div-block-4 {
  position: relative;
  width: 65%;
  margin-top: 1em;
  margin-left: 2.5em;
}

.heading-2 {
  color: #000;
}

.paragraph-2 {
  padding-top: 1em;
  font-family: Merriweather, serif;
  color: #6e6e6e;
  font-weight: 400;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-left: 19.9%;
  padding-top: 6em;
  padding-bottom: 5em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6 {
  padding-top: 1em;
  padding-right: 2.5em;
}

.highlight_grid {
  grid-column-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.highlight_img {
  box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, .73);
}

.image-5 {
  box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, .73);
}

.image-6 {
  box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, .73);
}

.highlight_container {
  position: relative;
  bottom: -67px;
}

.body {
  background-color: #f4f4f4;
}

.select-field {
  width: 30%;
  margin-bottom: 0px;
  background-color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
}

.text-field {
  width: 30%;
  margin-left: 20px;
  padding-left: 20px;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: auto;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.icon {
  margin-right: 0px;
}

.filter_drop {
  position: static;
  padding: 7px 0% 0px;
  border-style: none;
  border-width: 4px;
  border-color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  background-color: transparent;
}

.filter_text {
  position: relative;
  padding-right: 0px;
  float: none;
  clear: none;
  font-family: 'Lyontext web', sans-serif;
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  font-size: 1.7em;
  font-weight: 700;
}

.icon-2 {
  border-style: none;
  border-width: 1px;
  border-color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
}

.finder_head_div {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10em;
}

.finder_title {
  width: 100%;
  margin-bottom: 0px;
  font-family: Foundersgrotesk, sans-serif;
  color: #222;
  font-size: 2.8em;
  font-weight: 500;
  text-align: center;
}

.filter_descr_text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  font-family: Foundersgrotesk, sans-serif;
  color: #222;
  font-size: 2.1em;
  font-weight: 500;
}

.filter_inbtwn_text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  font-family: Foundersgrotesk, sans-serif;
  color: #222;
  font-size: 2.2em;
  font-weight: 500;
}

.city_dropdown {
  margin-right: 0px;
  margin-left: 0px;
}

.keyword_dropdown {
  margin-right: 0px;
  margin-left: 0px;
}

.issues_dropdown {
  overflow: visible;
  margin-right: 0px;
  margin-left: 0px;
}

.filter_text_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button-2 {
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  border-style: none;
  border-width: 1.5px;
  border-color: hsla(149.83050847457625, 72.84%, 47.65%, 0.43);
  border-radius: 2px;
  background-color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  color: hsla(149.83050847457625, 0.00%, 100.00%, 1.00);
  font-size: 1em;
  font-weight: 500;
}

.filter_search_icon {
  margin-bottom: 0px;
  font-family: 'Fa solid 900', sans-serif;
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  font-weight: 400;
}

.search_sym_text {
  font-size: 0.65em;
  font-weight: 400;
}

.filter_only_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-top: 0.7em;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.post_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 270px;
  margin-top: 3em;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1.3em;
  border-bottom: 1px solid #969696;
}

.post_share_img {
  width: 350px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.post_text_div {
  width: 100%;
  padding-left: 3%;
}

.post_tags {
  margin-bottom: 0px;
  padding-top: 0.5em;
  font-family: Foundersgrotesk, sans-serif;
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  font-size: 1.25em;
  font-weight: 600;
}

.post_date {
  font-family: Foundersgrotesk, sans-serif;
  color: #919191;
  font-size: 1.2em;
  font-weight: 500;
}

.post_title {
  padding-top: 0.5em;
  font-family: Foundersgrotesk, sans-serif;
  color: #222;
  font-weight: 500;
}

.dropdown-link {
  width: auto;
  margin-right: 0px;
  padding: 5px 0px;
  border-bottom: 1px solid #c7c6c6;
  background-color: #fff;
  font-family: 'Lyontext web', sans-serif;
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  font-size: 1.2em;
  font-weight: 400;
}

.dropdown-link-2 {
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  border-bottom: 1px solid #c7c6c6;
  background-color: #fff;
  font-family: 'Lyontext web', sans-serif;
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  font-size: 1.2em;
  font-weight: 400;
}

.dropdown-link-3 {
  padding-right: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #c7c6c6;
  background-color: #fff;
  font-family: 'Lyontext web', sans-serif;
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  font-size: 1.2em;
  font-weight: 400;
}

.filter_drop_list {
  background-color: transparent;
}

.filter_drop_list.w--open {
  overflow: scroll;
  height: 200px;
  padding-right: 10px;
  padding-left: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .89);
  font-family: 'Lyontext web', sans-serif;
}

.drop_nav_text {
  padding-bottom: 0px;
  font-size: 1.4em;
  font-weight: 500;
}

.nav_dropdown {
  padding: 40px 35px 35px 10px;
  line-height: 17px;
  text-decoration: none;
}

.nav_dropdown:hover {
  color: #21d279;
  text-decoration: underline;
}

.nav_drop_list {
  background-color: #fff;
  box-shadow: none;
  color: #21d279;
  font-size: 1.4em;
  line-height: 17px;
  font-weight: 500;
}

.nav_drop_list:hover {
  color: #21d279;
}

.nav_drop_list.w--open {
  top: 65.5px;
  box-shadow: 0 2px 8px -5px #000;
}

.nav_drop_list.w--open:hover {
  top: 66px;
  box-shadow: 0 3px 8px -5px rgba(0, 0, 0, .81);
}

.nav_drop_link {
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #ededed;
  color: #222;
}

.nav_drop_link:hover {
  border-style: none;
  border-width: 1px 1px 0px;
  border-color: #000;
  color: #21d279;
}

.finder_container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.form-block {
  font-family: 'Lyontext web', sans-serif;
}

.form-3 {
  color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  font-size: 1.6em;
  font-weight: 700;
}

.select-field-2 {
  background-color: #fff;
}

@media (max-width: 991px) {
  .hero {
    min-height: 520px;
  }
  .hero.about-page {
    min-height: 310px;
  }
  .hero.contact-page {
    min-height: 400px;
  }
  .hero.project-page {
    min-height: 344px;
  }
  .nav_hero {
    margin-top: 0px;
  }
  .nav_link.w--current {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: #fff;
  }
  .nav_link.w--current:hover {
    color: hsla(149.83050847457625, 100.00%, 0.00%, 1.00);
  }
  .highlight_title {
    padding-left: 0%;
  }
  .menu-button {
    padding-top: 28px;
    padding-right: 38px;
    background-color: transparent;
    color: #222;
    font-size: 2.5em;
  }
  .menu-button:hover {
    color: #21d279;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .heading-wrapper {
    margin-top: 115px;
  }
  .nav_menu {
    margin-right: 0px;
    padding-right: 0px;
    background-color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  }
  .project-body-copy {
    margin-right: 12%;
    margin-left: 12%;
  }
  .intro_p {
    margin-left: 5.5%;
  }
  .main_head_div {
    margin-left: 5%;
    padding-top: 5em;
  }
  .filter_div {
    width: 100%;
  }
  .highlight_container {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .filter_text {
    font-size: 1.3em;
  }
  .filter_descr_text {
    font-size: 1.5em;
  }
  .filter_inbtwn_text {
    font-size: 1.5em;
  }
  .issues_dropdown {
    font-family: 'Lyondisplay web', sans-serif;
  }
  .filter_text_div {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .filter_search_icon {
    padding-top: 0px;
    padding-left: 10px;
    line-height: 36px;
  }
  .search_sym_text {
    font-size: 0.5em;
  }
  .filter_only_text {
    width: 100%;
    margin-left: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .post_share_img {
    width: 200px;
    height: 100%;
  }
  .post_tags {
    padding-top: 0.25em;
    font-size: 1.1em;
  }
  .post_date {
    margin-bottom: 0px;
    font-size: 1em;
  }
  .post_title {
    padding-top: 0.25em;
    font-size: 25px;
    line-height: 30px;
  }
  .drop_nav_text {
    color: #fff;
  }
  .drop_nav_text:hover {
    color: #fff;
  }
  .nav_dropdown.w--open {
    margin-right: 0px;
    margin-left: 0px;
    background-color: hsla(149.83050847457625, 72.37%, 56.57%, 1.00);
  }
  .nav_drop_list.w--open {
    box-shadow: none;
  }
  .nav_drop_link {
    padding-top: 39px;
    padding-bottom: 26px;
  }
  .dropdown {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
  }
  .icon-3 {
    color: #fff;
  }
  .icon-3:hover {
    color: #000;
  }
  .icon-4 {
    background-color: transparent;
    color: hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
  }
}

@media (max-width: 767px) {
  .hero {
    min-height: 420px;
  }
  .hero.small {
    min-height: 280px;
  }
  .hero.about-page {
    min-height: 230px;
  }
  .hero.contact-page {
    min-height: 290px;
  }
  .hero.project-page {
    min-height: 256px;
  }
  .nav_hero {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .highlight_title {
    width: 90%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
  .form {
    width: 80%;
  }
  .left-column {
    padding-right: 10px;
  }
  .main_heading {
    font-size: 38px;
    line-height: 43px;
  }
  .heading-wrapper {
    margin-top: 72px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .about-me {
    width: 81%;
    margin-top: 0px;
  }
  .project-body-copy {
    margin-right: 40px;
    margin-left: 40px;
  }
  .nae_research_logo {
    max-width: 150px;
  }
  .intro_p {
    width: 80%;
  }
  .highlight_container {
    bottom: -50px;
  }
  .filter_text {
    font-size: 1em;
  }
  .finder_head_div {
    padding-top: 6em;
  }
  .filter_descr_text {
    font-size: 1.2em;
  }
  .filter_inbtwn_text {
    font-size: 1.2em;
  }
  .filter_search_icon {
    padding-right: 10px;
  }
  .search_sym_text {
    font-size: 0.35em;
  }
  .post_tags {
    font-size: 0.9em;
  }
  .post_date {
    font-size: 0.85em;
  }
  .post_title {
    font-size: 20px;
  }
  .finder_container {
    width: 95%;
  }
}

@media (max-width: 479px) {
  .hero {
    min-height: 340px;
  }
  .hero.about-page {
    min-height: 193px;
  }
  .hero.project-page {
    min-height: 226px;
  }
  .nav_hero {
    padding-bottom: 0em;
  }
  .form {
    width: 90%;
  }
  .menu-button {
    padding-right: 0px;
  }
  .heading-wrapper {
    margin-top: 50px;
  }
  .about-me {
    width: 91%;
  }
  .project-body-copy {
    margin-right: 18px;
    margin-left: 18px;
  }
  .nae_research_logo {
    max-width: 80px;
    padding-top: 22px;
  }
  .intro_p {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.1em;
  }
  .filter_div {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .highlight_grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .highlight_img {
    max-height: 250px;
    max-width: 90%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-bottom: 0px;
    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, .55);
  }
  .highlight_container {
    padding-right: 1.5%;
    padding-left: 1.5%;
  }
  .filter_text {
    width: 100%;
    min-width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
    border-bottom: 1px solid hsla(149.83050847457625, 72.84%, 47.65%, 1.00);
    text-align: center;
  }
  .finder_head_div {
    padding-top: 3em;
  }
  .finder_title {
    font-size: 2.2em;
  }
  .filter_descr_text {
    width: 100%;
    text-align: center;
  }
  .filter_inbtwn_text {
    padding-top: 12px;
  }
  .filter_text_div {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .filter_only_text {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .post_div {
    width: 95%;
    height: 100%;
    max-height: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .post_share_img {
    width: 100%;
  }
  .post_text_div {
    padding-left: 0%;
  }
}

#w-node-b5eb7e197989-fd8da3c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@font-face {
  font-family: 'Lyontext web';
  src: url('../fonts/LyonText-Regular-Web.woff2') format('woff2'), url('../fonts/LyonText-Regular-Web.eot') format('embedded-opentype'), url('../fonts/LyonText-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lyondisplay web';
  src: url('../fonts/LyonDisplay-Regular-Web.woff2') format('woff2'), url('../fonts/LyonDisplay-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lyontext web';
  src: url('../fonts/LyonText-RegularItalic-Web.eot') format('embedded-opentype'), url('../fonts/LyonText-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lyondisplay web';
  src: url('../fonts/LyonDisplay-RegularItalic-Web.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lyontext web';
  src: url('../fonts/LyonText-Bold-Web.eot') format('embedded-opentype'), url('../fonts/LyonText-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lyontext web';
  src: url('../fonts/LyonText-BoldItalic-Web.eot') format('embedded-opentype'), url('../fonts/LyonText-BoldItalic-Web.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Foundersgrotesk';
  src: url('../fonts/FoundersGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}