.ck7qjivpv195r1io3178901h5 {
  border: 13px solid transparent;
  border-bottom: 40px solid #000;
  left: -15px;
}

.ck7qjivpv195r1io3178901h5:hover {
  border: 18px solid transparent;
  border-bottom: 50px solid #393745;
  top: -20px;
  left: -15px;
}

.ck7qjivpv195r1io3178901h5:checked {
  border: 18px solid transparent;
  border-bottom: 50px solid #000;
  top: -20px;
  left: -15px;
}

.ck7qh0mxy0hpa1jo70wpzw08p {
  border: 13px solid transparent;
  border-bottom: 40px solid #393745;
  left: -15px;
}

.ck7qh0mxy0hpa1jo70wpzw08p:hover {
  border: 18px solid transparent;
  border-bottom: 50px solid #393745;
  top: -20px;
  left: -15px;
}

.ck7qh0mxy0hpa1jo70wpzw08p:checked {
  border: 18px solid transparent;
  border-bottom: 50px solid #393745;
  top: -20px;
  left: -15px;
}

.ck7xpp57900dg1ipj4r3kgadf {
  border: 13px solid transparent;
  border-bottom: 40px solid #05CE7C;
  left: -15px;
}

.ck7xpp57900dg1ipj4r3kgadf:hover {
  border: 18px solid transparent;
  border-bottom: 50px solid #05CE7C;
  top: -20px;
  left: -15px;
}

.ck7xpp57900dg1ipj4r3kgadf:checked {
  border: 18px solid transparent;
  border-bottom: 50px solid #05CE7C;
  top: -20px;
  left: -15px;
}

.ck17um4hj085y1cmmd90ooink {
  border: 13px solid transparent;
  border-bottom: 40px solid #ffdb20;
  left: -15px;
}

.ck17um4hj085y1cmmd90ooink:hover {
  border: 18px solid transparent;
  border-bottom: 50px solid #ffdb20;
  top: -20px;
  left: -15px;
}

.ck17um4hj085y1cmmd90ooink:checked {
  border: 18px solid transparent;
  border-bottom: 50px solid #ffdb20;
  top: -20px;
  left: -15px;
}

.ck7qm5peo019v1imsllunq6gy {
  border: 13px solid transparent;
  border-bottom: 40px solid #FB594D;
  left: -15px;
}

.ck7qm5peo019v1imsllunq6gy:hover {
  border: 18px solid transparent;
  border-bottom: 50px solid #FB594D;
  top: -20px;
  left: -15px;
}

.ck7qm5peo019v1imsllunq6gy:checked {
  border: 18px solid transparent;
  border-bottom: 50px solid #FB594D;
  top: -20px;
  left: -15px;
}
